In [1]:
# Dependencies
import json
import requests
import pandas as pd
from config import api_key

In [2]:
#url = "https://api.census.gov/data/2017/abscs?get=GEO_ID,NAICS2017_LABEL,SEX,SEX_LABEL,ETH_GROUP_LABEL,ETH_GROUP,RACE_GROUP_LABEL,RACE_GROUP,VET_GROUP_LABEL,VET_GROUP,FIRMPDEMP&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*&NAICS2017=00&key=8749b14c05eb937b188b079e9443f239319127e8"

In [3]:
url = "https://api.census.gov/data/2017/abscs?get="

In [4]:
q_url = f"{url}SEX_LABEL,ETH_GROUP_LABEL,NAICS2017_LABEL,FIRMPDEMP&for=county:*&in=state:*&key={api_key}"

In [5]:
#url = "https://api.census.gov/data/2017/abscs?get=SEX,ETH_GROUP,NAICS2017_LABEL,FIRMPDEMP&for=county:*&in=state:*&NAICS2017=00&key=8749b14c05eb937b188b079e9443f239319127e8"

In [7]:
print(q_url)

https://api.census.gov/data/2017/abscs?get=SEX_LABEL,ETH_GROUP_LABEL,NAICS2017_LABEL,FIRMPDEMP&for=county:*&in=state:*&key=8749b14c05eb937b188b079e9443f239319127e8

In [9]:
res = requests.get(q_url).json()

In [11]:
res_df = pd.DataFrame(res)
res_df.head()

           0                1                      2          3      4       5
0  SEX_LABEL  ETH_GROUP_LABEL        NAICS2017_LABEL  FIRMPDEMP  state  county
1      Total            Total  Total for all sectors        561     47     177
2      Total            Total  Total for all sectors       2212     47     179
3      Total            Total  Total for all sectors        551     47     183
4      Total            Total  Total for all sectors        244     47     005