In [4]:
import pandas as pd
import numpy as np

In [5]:
csv = pd.read_csv('../unshaped_year_col/by_Ind_totalEmployees_12_19.csv')

In [6]:
data = pd.DataFrame(csv)
data.head(2)

,Industries,2012,2013,2014,2015,2016,2017,2018,2019
0,Farms,780000,789000,803000,817000,820000,819000,814000,814000
1,"Forestry, fishing, and related activities",547000,567000,577000,623000,627000,632000,634000,643000

In [7]:
#d = data.drop(['GeoFips'], axis=1)

In [8]:
melted = data.melt(id_vars=['Industries'], var_name = 'Year', value_name = 'Total Employees').reset_index(drop=True)

In [9]:
melted.to_csv('../Resources/by_Ind_totalEmployees_12_19.csv', index=False)